@theme {
  --animate-collapsible-down: collapsible-down 0.5s ease-out;
  --animate-collapsible-up: collapsible-up 0.5s ease-out;
  --animate-accordion-down: accordion-down 0.5s ease-out;
  --animate-accordion-up: accordion-up 0.5s ease-out;
  

  @keyframes collapsible-down {
    from {
      height: 0;
      opacity: 0;
      display: hidden;
    }
    to {
      height: var(--radix-collapsible-content-height);
      opacity: 1;
      display: block;
    }
  }

  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
      opacity: 1;
      display: block;
    }
    to {
      height: 0;
      opacity: 0;
      display: hidden;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
    to {
      height: 0;
      opacity: 0;
    }
  }
}